@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('_variables.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--very-dark-blue);
  background-color: var(--very-light-gray);
}

header {
  max-width: 600px;
  margin: 0 auto;
  padding: 92px 33px 75px 33px;
  text-align: center;
}

h1 {
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 20px;
  line-height: 1.6;
}

h1 span {
  font-weight: 600;
}

h3 {
  font-size: 15px;
  font-weight: 400;
  color: var(--grayish-blue);
}

.cards-wrapper {
  padding: 0 33px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}


.card {
  border-top: 3px solid var(--borderColor);
  border-radius: 3px;
  box-shadow: -5px 6px 28px -1px var(--grayish-blue);
  padding: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

.card-cyan {
  --borderColor: var(--cyan);
}

.card-red {
  --borderColor: var(--red);
}

.card-orange {
  --borderColor: var(--orange);
}

.card-blue {
  --borderColor: var(--blue);
  margin-bottom: 0;
}

.card-heading {
  padding-bottom: 40px;
}

.card-heading p {
  color: var(--grayish-blue);
  font-size: 14px;
  line-height: 1.6;
}

.card-heading h2 {
  padding-bottom: 10px;
  font-size: 20px;
}

.card-image {
  width: 60px;
  height: 60px;
  align-self: flex-end;
}

footer {
  padding: 0 33px 33px 33px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 720px) {
  h1 {
    font-size: 36px;
    line-height: 1.4;
  }

  h3 {
    font-size: 16px;
  }

  header {
    padding-bottom: 60px;
  }

  .cards-wrapper {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .card {
    margin-bottom: 0px;
    padding: 29px;
  }

  .card-cyan,
  .card-blue,
  .inner-cards {
    width: 31.5%;
  }

  .card-red {
    margin-bottom: 37px;
  }

  .inner-cards {
    margin: 0 50px;
  }
}

@media (min-width: 1200px) {
  .cards-wrapper {
    padding: 0 165px;

  }
}